/* src/index.css */
/* Removed checkbox and strike-through styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container {
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

.todo-search {
  margin-bottom: 20px;
}

.todo-search input {
  width: calc(100% - 90px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-search button {
  width: 70px;
  padding: 10px;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-list {
  margin-bottom: 20px;
}

.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task {
  display: flex;
  align-items: center;
}

.task p {
  margin: 0;
}

.btn-container {
  display: flex;
}

.btn-container .edit,
.btn-container .del {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5c67f2;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer .active-tasks {
  font-size: 14px;
  color: #555;
}

.footer .delete-all-container {
  margin-left: auto;
}

.footer .delete-all-button {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal styles */
.modal-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
}

.modal form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

.modal form input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal form button {
  width: 25%;
  padding: 10px;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal .btn-container {
  margin-top: 20px;
}

.modal .cancel {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
